@import "tailwindcss";

:root {
  --black: #000;
  --light: #e1e1e1;
  --crimsonRed: #a1193c;
}

*{
  box-sizing: border-box;
  /* margin: 0;
  padding: 0; */
}

html {
  scroll-behavior: smooth;
}

body{
  background-color: var(--black);
  color:  var(--light);
}
.container{
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 20px;
}

.hovercrimson{
  transition: color 0.2s ease;
}
.hovercrimson:hover{
  color: var(--crimsonRed);
}